.flat {
    flex-basis: 46%;
    margin: 10px;
    
}

.flat:hover {
    opacity: 0.8;
    cursor: pointer;
}

.flat-picture {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.flat-title {
    margin-top: 10px;
    font-weight: bold;
}